.banner {
  color: #fff;
  background-color: #212529;

  .container {
    padding: 3.5rem;

    h1 {
      font-size: 3.5rem;
      font-weight: bold;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
